<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8" />
    <title>Books</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/libs/bootstrap/bootstrap.css}"
          rel="stylesheet" media="screen" />
    <link th:href="@{/css/ionicons.css}"
          rel="stylesheet" media="screen" />
    <link th:href="@{/libs/datatables/datatables.css}"
          rel="stylesheet" media="screen" />
    <link th:href="@{/css/navbar.css}"
          rel="stylesheet" media="screen" />
    <link th:href="@{/css/footer.css}"
          rel="stylesheet" media="screen" />


</head>


<body>

<nav th:replace="fragments/navbar :: common-navbar" />

<div class="container py-5">
    <div class="row">
        <th:block th:if="${deleteSuccess} != null">
            <span id="successAlert" class="alert alert-success alert-dismissible mx-auto fade show" role="alert" th:text="${deleteSuccess}"></span>
        </th:block>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 mx-auto">

                    <!-- card -->
                    <div class="card rounded-0">
                        <!--card-header-->
                        <div class="card-header text-center bg-light">
                            <h3 class="mb-0 ion-ios-people">&nbsp;Books</h3>
                        </div>
                        <!--card-body-->
                        <div class="card-body">
                            <table id="booksTable" class="display nowrap compact table-striped table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Subtitle</th>
                                    <th>Author(s)</th>
                                    <th>Genre</th>
                                    <th>Copies</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- We loop through every book sent by the controller using thymeleaf's "th:each" -->
                                <tr th:each="book : ${books}" >
                                    <td></td>
                                    <td><span class="ion-ios-barcode" data-toggle="tooltip" data-placement="top"
                                              th:attr="title='ISBN: '+${book.isbn}"></span>
                                        <b><span th:text="${book.title}"></span></b>
                                        <span th:if="${book.available}" class="float-right ion-checkmark-circled text-success"
                                              data-toggle="tooltip" data-placement="top" title="At least 1 copy available"></span>
                                        <span th:if="!${book.available}" class="float-right ion-close-circled text-danger"
                                              data-toggle="tooltip" data-placement="top" title="Copies unavailable"></span>
                                    </td>
                                    <td th:text="${book.subtitle}"></td>
                                    <td th:text="${book.authors}"></td>
                                    <td th:text="${book.genre.name}"></td>
                                    <td th:text="${#lists.size(book.copies)}"></td>
                                    <td class="text-center">
                                        <a th:href="@{'/manage/book/edit/' + ${book.id}}" class="ion-ios-compose text-dark"></a>
                                        <a th:href="@{'/manage/book/delete/' + ${book.id}}" class="ion-trash-b text-danger ml-2"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--/card-body-->
                    </div>
                    <!-- /form card new sub -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->


<!--footer-->
<footer th:replace="fragments/footer :: common-footer" ></footer>

<!--javascript-->
<script th:src="@{/libs/jquery/jquery.js}" ></script>
<script th:src="@{/libs/bootstrap/popper.min.js}" ></script>
<script th:src="@{/libs/bootstrap/bootstrap.js}"></script>
<script th:src="@{/libs/datatables/datatables.js}"></script>
<script th:src="@{/js/allBooks.js}"></script>

</body>
</html>